{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static "css/logincss.css" %}">
</head>
<body>
    <div class="content">
        <p class="text">
            Login
        </p>
        <form action="/log" method="post">
            {% csrf_token %}
            <label class="login" >Username </label><input name="username" class="box one" type="text" ><br>
            <label class="login" >Password </label><input name="password" class="box two" type="text" ><br>
            <input class="login" type="submit" value="submit">
        </form>
        </div>
</body>
</html>